
.Header{
    background-color: rgb(213, 211, 211);
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
}
.head-btn {
    padding: 10px;
    margin: 10px 50px;
    border:none ;
    border-radius: 10px;
    background-color: rgb(221, 252, 242);
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}
.head-btn button:hover{
    background-color:grey ;
    color: white;
}
.container{
    display: flex;
}

